## Preparing python

In [1]:
import pandas as pd , numpy as np , seaborn as sns

### Reading main dataframe

In [2]:
df18 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 0 , header=5 , index_col=1, 
                     skipfooter= 2 )

In [3]:
df19 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 1 , header=5 , index_col=1, 
                    skipfooter= 2)

In [4]:
df20 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 2 , header=6 , index_col=1, 
                    skipfooter= 2)

In [5]:
df21 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 3 , header=5 , index_col=1, 
                    skipfooter= 2)

In [6]:
df22 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 4 , header=5 , index_col=1, 
                    skipfooter= 2)

In [7]:
dfttl = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 5 , header=5 , index_col=1)

# Cleaning data

## Year 2018

In [8]:
df18 = df18.drop(df18.index[0], axis=0)
df18 = df18.drop(['Unnamed: 0'], axis = 1)

In [9]:
df18 = df18.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'خبيثة': 'malignant' , 'حميدة': 'Non-malignant',
                      'بيضاوية': 'Plasmodium','رباعية':'Quartan',
                      'مزدوجة' : 'Double Tertian', 'محلية': 'local'
                      ,'من الخارج': 'Alien' , 'غير مصنفة': 'Non-catagorized'
                      , 'أخرى' : 'Else'})
index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

# ---------------------------------------

index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

df18diff = df18['No.Tested'] - df18['Pos Cases']
df18.insert(loc = 2,
          column = 'Neg Casses',
          value = df18diff)

df18per = df18['Pos Cases'] / df18['No.Tested'] *100
df18.insert(loc = 3, 
            column = '% of Pos',
            value = df18per)

         
df18 = df18.set_index(pd.Index(index))
         

df18.to_csv("cleaned/2018.csv")

## Year 2019

In [10]:
df19 = df19.drop(['Unnamed: 0'], axis=1)
df19 = df19.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

# ---------------------------------------

index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

df19diff = df19['No.Tested'] - df19['Pos Cases']
df19.insert(loc = 2,
          column = 'Neg Casses',
          value = df19diff)

df19per = df19['Pos Cases'] / df19['No.Tested'] *100
df19.insert(loc = 3, 
            column = '% of Pos',
            value = df19per)

         
df19 = df19.set_index(pd.Index(index))
         


df19.to_csv("cleaned/2019.csv")

## Year 2020

In [11]:
df20 = df20.drop(['Unnamed: 0'], axis=1)
df20 = df20.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Quartan','Unnamed: 7':'Double Tertian',
                      'Unnamed: 8' : 'local', 'Unnamed: 9': 'Introduced'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

# ---------------------------------------

index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

df20diff = df20['No.Tested'] - df18['Pos Cases']
df20.insert(loc = 2,
          column = 'Neg Casses',
          value = df20diff)

df20per = df20['Pos Cases'] / df20['No.Tested'] *100
df20.insert(loc = 3, 
            column = '% of Pos',
            value = df20per)

         
df20 = df20.set_index(pd.Index(index))
         


df20.to_csv("cleaned/2020.csv")

## Year 2021

In [12]:
df21 = df21.drop(['Unnamed: 0'], axis=1)
df21 = df21.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

# ---------------------------------------

index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

df21diff = df21['No.Tested'] - df21['Pos Cases']
df21.insert(loc = 2,
          column = 'Neg Casses',
          value = df21diff)

df21per = df21['Pos Cases'] / df21['No.Tested'] *100
df21.insert(loc = 3, 
            column = '% of Pos',
            value = df21per)

df21 = df21.set_index(pd.Index(index))

df21.to_csv("cleaned/2021.csv")

## Year 2022

In [13]:
df22 = df22.drop(['Unnamed: 0'], axis=1)
df22 = df22.rename(columns= {'Unnamed: 2':'No.Tested','Unnamed: 3':'Pos Cases', 'Unnamed: 4' : '% of Pos',
                      'Unnamed: 5': 'malignant' , 'Unnamed: 6': 'Non-malignant',
                      'Unnamed: 7': 'Quartan','Unnamed: 8':'double Tertian',
                      'Unnamed: 9' : 'Plasmodium', 'Unnamed: 10': 'local'
                      ,'Unnamed: 11': 'Introduced' , 'Unnamed: 12': 'Alien'
                      , 'Unnamed: 13' : 'Non-catagorized', 'Unnamed: 14' : 'regressive' })
# ---------------------------------------

index = ('Dammam', 'Al-ahssa', 'Al-jowf', 
         'Northern-Borders', 'Qurayat', 
         'hafar-albatin', 'Qaseem', 'Riyadh',
         'Bishaa', 'Najraan', 'Tabook', 'Hail',
         'Madena', 'Taif', 'Mecca', 'Jeddah', 
         'Allaith', 'Alqunfthah', 'Bahaa', 'Jazaan',
         'Aseer', 'Total')

df22diff = df22['No.Tested'] - df22['Pos Cases']
df22.insert(loc = 2,
          column = 'Neg Casses',
          value = df22diff)

df22 = df22.set_index(pd.Index(index))

df22.to_csv("cleaned/2022.csv")

## Total

In [14]:
dfttl = dfttl.drop(['Unnamed: 0'], axis=1)
dfttl= dfttl.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Quartan','Unnamed: 7':'Plasmodium',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

dfttldiff = dfttl['No.Tested'] - dfttl['Pos Cases']
dfttl.insert(loc = 2,
          column = 'Neg Casses',
          value = dfttldiff)

dfttlper = dfttl['Pos Cases'] / dfttl['No.Tested'] *100
dfttl.insert(loc = 3, 
            column = '% of Pos',
            value = dfttlper)

dfttl.to_csv("cleaned/ttl.csv")

# Trend of Positive cases

In [15]:
dfttl

,No.Tested,Pos Cases,Neg Casses,% of Pos,malignant,Non-malignant,Quartan,Plasmodium,Double Tertian,local,Introduced,Alien,Non-catagorized,regressive
2018,1015953,2711,1013242,0.266843,1898,794,8,1,10,194,0,2517,0,0
2019,1118706,2152,1116554,0.192365,1498,628,10,0,16,38,85,2029,0,0
2020,703048,3658,699390,0.520306,3231,412,7,0,8,83,122,3453,0,0
2021,642818,2616,640202,0.406958,2023,480,9,0,104,0,146,2470,0,0
2022,764822,4319,760503,0.564707,3079,1177,22,2,39,0,274,4045,0,0