## Preparing python

In [1]:
import pandas as pd , numpy as np , seaborn as sns

### Reading main dataframe

In [9]:
df18 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 0 , header=5 , index_col=1, 
                     skipfooter= 2 )

In [34]:
df19 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 1 , header=5 , index_col=1, 
                    skipfooter= 2)

In [52]:
df20 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 2 , header=6 , index_col=1, 
                    skipfooter= 2)
# df21 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
#                        sheet_name= 3 , header=5 , index_col=1, 
#                     skipfooter= 2)
# df22 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
#                        sheet_name= 4 , header=5 , index_col=1, 
#                     skipfooter= 2)
# dfttl = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
#                        sheet_name= 5 , header=5 , index_col=1)

# Cleaning data

## Year 2018

In [11]:
df18 = df18.drop(df18.index[0], axis=0)
df18 = df18.drop(['Unnamed: 0'], axis = 1)

In [12]:
df18 = df18.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases'})

## Year 2019

In [36]:
df19 = df19.drop(['Unnamed: 0'], axis=1)
df19 = df19.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

## Year 2020

In [53]:
df18 = df18.drop(df18.index[0], axis=0)
df20 = df20.drop(['Unnamed: 0'], axis=1)
df20 = df20.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Quartan','Unnamed: 7':'Double Tertian',
                      'Unnamed: 8' : 'local', 'Unnamed: 9': 'Introduced'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

In [54]:
df20

,No.Tested,Pos Cases,malignant,Non-malignant,Quartan,Double Tertian,local,Introduced,Alien,Non-catagorized,Else
الدمام,95085,107,58,49,0,0,0,0,107,0,0
الأحساء,46855,21,17,3,0,1,0,0,21,0,0
الجوف,14003,1,1,0,0,0,0,0,1,0,0
الحدود الشماليه,889,5,4,1,0,0,0,0,5,0,0
القريات,3738,0,0,0,0,0,0,0,0,0,0
حفر الباطن,120,9,9,0,0,0,0,0,9,0,0
القصيم,45817,20,7,12,1,0,0,0,20,0,0
الرياض,120164,47,17,27,3,0,0,0,47,0,0
بيشة,667,20,3,17,0,0,0,0,20,0,0
نجران,18263,13,9,4,0,0,0,0,13,0,0
تبوك,3514,2,2,0,0,0,0,0,2,0,0
حائل,1680,5,2,3,0,0,0,0,5,0,0
المدينة المنورة,38146,28,18,9,0,1,0,0,28,0,0
الطائف,76754,41,18,22,0,1,0,0,41,0,0
مكة المكرمة,19530,36,24,10,0,2,0,0,36,0,0
جدة,147,147,91,51,2,3,0,0,147,0,0
الليث/ اضم,4834,0,0,0,0,0,0,0,0,0,0
القنفذة,2556,6,4,2,0,0,0,0,6,0,0
الباحة,13733,15,12,3,0,0,0,0,15,0,0
جازان,187819,3022,2841,180,1,0,67,88,2867,0,0
عسير,8734,113,94,19,0,0,16,34,63,0,0
المجموع,703048,3658,3231,412,7,8,83,122,3453,0,0

## Year 2021

In [6]:
df21 = df21.drop(['Unnamed: 0'], axis=1)
df21 = df21.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [7]:
df22 = df22.drop(['Unnamed: 0'], axis=1)
df22 = df22.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [8]:
dfttl = dfttl.drop(['Unnamed: 0'], axis=1)
dfttl= dfttl.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [10]:
df22

,No.Tested,Pos Cases,malignant,Non-malignant,Plasmodium,Quartan,Double Tertian,local,Introduced,Alien,Non-catagorized,regressive,Unnamed: 14
الدمام,191182,270,0.10,139,130,1,0,0,0,0,270,0,0
الأحساء,29656,38,0.10,25,12,1,0,0,0,0,38,0,0
الجوف,43579,7,0.01,0,7,0,0,0,0,0,7,0,0
الحدود الشماليه,78,5,6.40,5,0,0,0,0,0,0,5,0,0
القريات,3446,0,0.00,0,0,0,0,0,0,0,0,0,0
حفر الباطن,189,14,7.40,8,6,0,0,0,0,0,14,0,0
القصيم,68911,72,0.10,21,50,1,0,0,0,0,72,0,0
الرياض,20324,172,0.80,86,80,3,3,0,0,0,172,0,0
بيشة,1235,16,1.20,8,8,0,0,0,0,0,16,0,0
نجران,26477,50,0.20,21,29,0,0,0,0,0,50,0,0
تبوك,5535,11,0.20,11,0,0,0,0,0,0,11,0,0
حائل,3042,18,0.60,7,11,0,0,0,0,0,18,0,0
المدينة المنورة,51094,135,0.30,101,24,0,10,0,0,0,135,0,0
الطائف,85748,93,0.10,38,54,1,0,0,0,0,93,0,0
مكة المكرمة,30930,112,0.40,78,32,1,1,0,0,0,112,0,0
جدة,3625,410,7.40,170,214,9,17,0,0,0,410,0,0
الليث,1889,0,0.00,0,0,0,0,0,0,0,0,0,0
القنفذة,2283,11,0.50,7,4,0,0,0,0,0,11,0,0
الباحة,7579,11,0.10,5,6,0,0,0,0,0,11,0,0
جازان,171098,2774,1.60,2284,475,5,8,2,0,260,2514,0,0
عسير,16922,100,0.50,65,35,0,0,0,0,14,86,0,0
المجموع,764822,4319,0.60,3079,1177,22,39,2,0,274,4045,0,0