## Preparing python

In [1]:
import pandas as pd , numpy as np , seaborn as sns

### Reading main dataframe

In [2]:
df18 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 0 , header=6 , index_col=1, 
                     skipfooter= 2 )
df19 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 1 , header=5 , index_col=1, 
                    skipfooter= 2)
df20 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 2 , header=5 , index_col=1, 
                    skipfooter= 2)
df21 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 3 , header=5 , index_col=1, 
                    skipfooter= 2)
df22 = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 4 , header=5 , index_col=1, 
                    skipfooter= 2)
dfttl = pd.read_excel('D:\projects\malaria\malariaKSA\data\malariadata.xlsx',
                       sheet_name= 5 , header=5 , index_col=1)

In [3]:
df18 = df18.drop(['Unnamed: 0'], axis=1)
df18 = df18.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

In [4]:
df19 = df19.drop(['Unnamed: 0'], axis=1)
df19 = df19.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

In [5]:
df20 = df20.drop(['Unnamed: 0'], axis=1)
df20 = df20.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Alien' , 'Unnamed: 11': 'Non-catagorized'
                      , 'Unnamed: 12' : 'Else'})

In [6]:
df21 = df21.drop(['Unnamed: 0'], axis=1)
df21 = df21.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [7]:
df22 = df22.drop(['Unnamed: 0'], axis=1)
df22 = df22.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [8]:
dfttl = dfttl.drop(['Unnamed: 0'], axis=1)
dfttl= dfttl.rename(columns= {'Unnamed: 2':'No.Tested', 'Unnamed: 3' : 'Pos Cases',
                      'Unnamed: 4': 'malignant' , 'Unnamed: 5': 'Non-malignant',
                      'Unnamed: 6': 'Plasmodium','Unnamed: 7':'Quartan',
                      'Unnamed: 8' : 'Double Tertian', 'Unnamed: 9': 'local'
                      ,'Unnamed: 10': 'Introduced' , 'Unnamed: 11': 'Alien'
                      , 'Unnamed: 12' : 'Non-catagorized', 'Unnamed: 13' : 'regressive' })

In [10]:
df22

,No.Tested,Pos Cases,malignant,Non-malignant,Plasmodium,Quartan,Double Tertian,local,Introduced,Alien,Non-catagorized,regressive,Unnamed: 14
الدمام,191182,270,0.10,139,130,1,0,0,0,0,270,0,0
الأحساء,29656,38,0.10,25,12,1,0,0,0,0,38,0,0
الجوف,43579,7,0.01,0,7,0,0,0,0,0,7,0,0
الحدود الشماليه,78,5,6.40,5,0,0,0,0,0,0,5,0,0
القريات,3446,0,0.00,0,0,0,0,0,0,0,0,0,0
حفر الباطن,189,14,7.40,8,6,0,0,0,0,0,14,0,0
القصيم,68911,72,0.10,21,50,1,0,0,0,0,72,0,0
الرياض,20324,172,0.80,86,80,3,3,0,0,0,172,0,0
بيشة,1235,16,1.20,8,8,0,0,0,0,0,16,0,0
نجران,26477,50,0.20,21,29,0,0,0,0,0,50,0,0
تبوك,5535,11,0.20,11,0,0,0,0,0,0,11,0,0
حائل,3042,18,0.60,7,11,0,0,0,0,0,18,0,0
المدينة المنورة,51094,135,0.30,101,24,0,10,0,0,0,135,0,0
الطائف,85748,93,0.10,38,54,1,0,0,0,0,93,0,0
مكة المكرمة,30930,112,0.40,78,32,1,1,0,0,0,112,0,0
جدة,3625,410,7.40,170,214,9,17,0,0,0,410,0,0
الليث,1889,0,0.00,0,0,0,0,0,0,0,0,0,0
القنفذة,2283,11,0.50,7,4,0,0,0,0,0,11,0,0
الباحة,7579,11,0.10,5,6,0,0,0,0,0,11,0,0
جازان,171098,2774,1.60,2284,475,5,8,2,0,260,2514,0,0
عسير,16922,100,0.50,65,35,0,0,0,0,14,86,0,0
المجموع,764822,4319,0.60,3079,1177,22,39,2,0,274,4045,0,0